<!DOCTYPE html>
<html>
  <head>
    <title>IFC Trade Portal Proof-of-Concept</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>

  <body ng-app="ifcPoc" ng-controller="mainController">
    <div class="col-md-12">
        <rd-widget>
            <rd-widget-header icon="fa fa-globe" title="Map"></rd-widget-header>
            <rd-widget-body classes="medium no-padding">
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="row-fluid" id="queryParams">
      <div class="dropdown multi-column">
        <div class="span6">
         Select country: <select ng-model="countrySelected" ng-options="country as country.name for country in countries track by country.isoa2"> </select>
        </div>
        <div class="span6">
          Select question: <select ng-model="questionSelected" ng-options="question as question.qid for question in questions"></select>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      Enter custom query: <input ng-model="mapQuery"></input>
    </div>
    <viz-map ifc-data="ifcData" geo-Data="geoData"></viz-map>
    <!--TODO: add all script dependencies-->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js" type="text/javascript"></script>
    <script src="//d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="//d3js.org/topojson.v1.min.js" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/alexandersimoes/d3plus/master/d3plus.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/directives/vizMap.js" type="text/javascript"></script>
    <script src="js/directives/brush-timeline.js" type="text/javascript"></script>
  </body>
</html>